# System & IDE
.DS_Store
.idea/
.vscode/

# Node / Frontend
/frontend/node_modules
/frontend/dist
/frontend/.env

# DDEV & Backend
/backend/.ddev
/backend/wp-config.php
/backend/wp-content/uploads
/backend/vendor
/backend/.env

# Local secrets
.env

# Кеш-файл оптимизации изображений (создадим его позже внутри /frontend)
/frontend/.tinypng-cache
/frontend/.svgo-cache

# Service files
status.md

