/*!
 * =================================================================================================
 * _icons.scss
 * =================================================================================================
 *
 * Базовые стили для SVG-иконок, вставляемых из спрайта.
 * Этот универсальный класс .icon позволяет управлять размером и цветом
 * иконок через стандартные CSS-свойства font-size и color.
 *
 * =================================================================================================
 */

.icon {
  display: inline-block; // Чтобы работали размеры и отступы
  width: 1em; // Ширина равна размеру шрифта родителя
  height: 1em; // Высота равна размеру шрифта родителя
  stroke-width: 0; // Убираем обводку по умолчанию, если она есть в SVG
  stroke: currentColor; // Цвет обводки наследуется от CSS-свойства color
  fill: currentColor; // Цвет заливки наследуется от CSS-свойства color
}
