/* ==========================================================================
   Modern CSS Reset (A better starting point) v2.0 | 2025
   Based on the work of Andy Bell, Josh Comeau, and Elad Shechter.
   Using :where() for zero-specificity.
   ========================================================================== */

/* 1. Use a more intuitive box model on everything. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Use :where() to remove all default margins and paddings with zero specificity. */
:where(body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, ul, ol, dl, dd) {
  margin: 0;
  padding: 0;
}

/* 3. Set core body defaults. */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* 4. Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed. */
:where(ul[role='list'], ol[role='list']) {
  list-style: none;
}

/* 5. Make images, pictures, videos and svg responsive by default. */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for inputs and buttons. */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Remove all animations and transitions for people that prefer not to see them. */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
