// ==========================================================================
// ABSTRACTS: Barrel File
// ==========================================================================

// Этот файл собирает все части из папки abstracts и предоставляет их
// для использования в других файлах через одну директиву @use.

@forward "variables";
@forward "functions";
@forward "mixins";
