{#
  Этот файл предназначен для вставки кодов счетчиков веб-аналитики.
  (Yandex.Metrika, Google Analytics и т.д.)
  Содержимое этого файла будет вставлено перед закрывающим тегом </body>.
#}

<!-- Yandex.Metrika counter -->

<!-- /Yandex.Metrika counter -->

<!-- Google tag (gtag.js) -->

<!-- /Google tag (gtag.js) -->