<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      {# Содержимое футера: копирайт, ссылки и т.д. #}
      <p>Это Footer из <code>frontend/src/views/partials/_footer.njk</code></p>
    </div>
  </div>
</footer>
