<header class="header">
  <div class="container">
    <div class="header__inner">
      {# Содержимое хедера: логотип, навигация, контакты и т.д. #}
      <p>Это Header из <code>frontend/src/views/partials/_header.njk</code></p>
    </div>
  </div>
</header>
