// ==========================================================================
// LAYOUT: Outer Container
// ==========================================================================
@use "../abstracts" as *;

// Внешняя "коробка". Задает максимальную ширину и центрирует блок.
.container {
  width: 100%;
  max-width: var(--container-max-width); // Используем переменную
  margin-inline: auto;
}