// ==========================================================================
// LAYOUT: Footer
// ==========================================================================
@use "../abstracts" as *;

.footer {
  // Стили для футера будут здесь
}