// ==========================================================================
// LAYOUT: Header
// ==========================================================================
@use "../abstracts" as *;

.header {
  // Стили для хедера будут здесь
}