// ==========================================================================
// LAYOUT: Barrel File
// ==========================================================================
// Этот файл собирает все части макета и предоставляет их для использования
// в главном файле стилей app.scss.

@forward "container";
@forward "layout";
@forward "header";
@forward "footer";