{#
  Компонент "Меню навигации".
  Включает в себя кнопку-бургер и саму панель навигации.
  Подключается в хедере.
  JS-логика привязывается к классу .menu.
#}
<div class="menu">
  <button class="menu__btn" type="button" aria-label="Открыть меню" aria-expanded="false">
    <span aria-hidden="true"></span>
  </button>
  <nav class="nav">
    <a href="#" class="nav__link">Link1</a>
    <a href="#" class="nav__link">Link2</a>
    <a href="#" class="nav__link">Link3</a>
  </nav>
</div>