{% import "../macros/_ui.njk" as ui %}

{#
  Контейнер для всех модальных окон.
  JS управляет классом .overlay-active для показа/скрытия.
#}
<div class="overlay" id="overlay" aria-hidden="true">

  {#
    Общая обертка для модального окна.
    JS будет менять содержимое этой обертки.
  #}
  <div class="modal" role="dialog" aria-modal="true">

    <button class="modal__close" data-modal-close="data-modal-close" aria-label="Закрыть окно">
      {{ ui.icon('cross') }}
    </button>

    {# ОКНО "СПАСИБО" #}
    <div class="modal__thanx" data-modal-window="thanks">
      <h2 class="modal__title">Спасибо</h2>
      <p class="modal__descr">Наши менеджеры свяжутся с вами через несколько минут</p>
    </div>

    {# ОКНО "ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ" #}
    <div class="modal__policy" data-modal-window="policy">
      <h2 class="modal__title">Политика конфиденциальности</h2>
      <div class="modal__text">
        <p>Данное соглашение разработано в соответствии с требованиями действующего законодательства Республики Беларусь, Закона Республики Беларусь от 10.11.2008 №455-З «Об информации, информатизации и защите информации».</p>
        <p>Я, субъект персональных данных, на основании Закона Республики Беларусь от 10.11.2008 №455-З «Об информации, информатизации и защите информации» принимаю решение о предоставлении моих персональных данных и даю согласие на их обработку свободно, своей волей и в своём интересе Обществом с ограниченной ответственностью «СтройЭдвайс» (далее ООО «СтройЭдвайс») путём ведения баз данных автоматизированным, механическим и ручным способом.</p>
        <p>Все лица, заполнившие Форму заявки и Форму обратной связи, подтверждают, что полностью ознакомлены и согласны с условиями настоящего Соглашения, в частности подтверждают свое согласие:</p>
        <ol>
          <li>на осуществление ООО «СтройЭдвайс» сбора, обработки и хранения указанных в регистрационной форме персональных данных;</li>
          <li>на включение предоставленной информации (обратная связь, персональные данные) в базу ООО «СтройЭдвайс».</li>
        </ol>
        <p>При этом гражданин вправе отозвать согласие на использование персональных данных, направив ООО «СтройЭдвайс» уведомление на электронную почту info@tehnadzor-minsk.by. В случае получения уведомления об отзыве согласия на использование персональных данных ООО «СтройЭдвайс» прекращает обработку персональных данных и уничтожает данные в течение 5 (пяти) рабочих дней с даты получения отзыва.</p>
        <p>Гражданин гарантирует, что данные, содержащиеся в регистрационной форме, являются достоверными; при предоставлении информации не нарушается действующее законодательство Республики Беларусь, законные права и интересы третьих лиц.</p>
      </div>
    </div>

  </div>
</div>