{#
  Компонент "Кнопка наверх".
  Подключается в основном макете.
  Логика появления/исчезновения управляется через JS.
#}
<button id="scroll-to-top" class="btn-exit" aria-label="Вернуться наверх"></button>