{#
  Компонент для "ленивой" загрузки видео с YouTube.
  JS-логика находит контейнер по классу .video.
#}
<div class="video-wrap">
  <div class="video" data-video-id="xD5RyFonLSE">
    <a class="video__link" href="https://youtu.be/xD5RyFonLSE">
      <picture>
        <source srcset="https://i.ytimg.com/vi_webp/xD5RyFonLSE/maxresdefault.webp" type="image/webp">
        <img class="video__media" src="https://i.ytimg.com/vi/xD5RyFonLSE/maxresdefault.jpg" alt="Презентация услуг">
      </picture>
    </a>
    <button class="video__btn" aria-label="Запустить видео">
      <svg viewbox="0 0 91 91" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle class="video__btn-circle-out" cx="45.5" cy="45.5" r="45.5"/>
        <circle class="video__btn-circle-inner" cx="45.5" cy="45.5" r="30.5"/>
        <path class="video__btn-icon" d="M59 46.5L38.75 58.1913L38.75 34.8087L59 46.5Z"/>
      </svg>
    </button>
  </div>
</div>
{#
  (Примечание: я немного улучшил разметку, перенеся ID видео в data- атрибут на основной контейнер, чтобы сделать JS более надежным и не зависящим от URL картинки).
#}